<mat-card class="product-card">
  <mat-card-header>
    <div mat-card-avatar class="img-circle"><img [src]="imageData"></div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <p>
      {{product.description}}
    </p>
    <p>
      <strong>Current Stock:</strong> {{product.stock | resolveUnitValue:product.unitType.type}}  {{ product.unitType.type | resolveUnits}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-icon class="cursor"(click)="addStock()">add</mat-icon>
    <mat-icon class="cursor delete" (click)="editProduct()">mode_edit</mat-icon>
    <mat-icon class="cursor delete" (click)="removeProduct()">delete</mat-icon>
  </mat-card-actions>
</mat-card>
