<div class="page-top-margin">

    <div fxLayout="row" fxLayoutAlign="space-around center" class="margin-bottom20">
        <div fxFlex>
            <span class="record-count">
            </span>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="right">
            <span fxFlex>
                <button mat-raised-button color="primary" (click)="createUser()">Add user</button>
            </span>
        </div>
    </div>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
            <mat-cell *matCellDef="let user">
                    <span  *ngFor="let role of user.roles; let i = index">
                            {{role.name}}{{i === user.roles.length -1 ? '' : ', '}}
                         </span>
                </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let user">
                <mat-icon class="cursor " (click)="editUser(user)">mode_edit</mat-icon>
                <mat-icon class="cursor delete" (click)="delete(user)">delete</mat-icon>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>