table {
    width: 100%;
  }
.mat-table {
      border: 2px solid #E6E6E5;
  }

.mat-icon {
    color: #3f51b5 ;
}

::ng-deep .toast-top-full-width {
  top: 64px !important;
  right: 0;
  width: 100%;
}