<div class="page-top-margin">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row">

      <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="form.get('name').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            <mat-error *ngIf="form.get('description').hasError('required')">
              Description is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
            <label  class="md-button md-raised md-primary">Unit type</label>
            </div>
            <div fxFlex>    
            <mat-radio-group class="radio-group" formControlName="type" required>
              <mat-radio-button class="radio-button" *ngFor="let unit of units" [value]="unit.key">
                {{unit.name}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="isFieldInvalid('type')">
              Unit type is required
            </mat-error>
          </div>
        <div fxFlex>
            <mat-form-field>
                <input matInput placeholder="Stock" formControlName="stock" required>
              <mat-error *ngIf="form.get('description').hasError('required')">
                Stock is required
              </mat-error>
            </mat-form-field>
          </div>
        <div fxFlex>
          <div fxLayout="row">
            <div fxFlex="98%">
              <mat-form-field>
                <input matInput placeholder="Product Image" formControlName="image" required>
                <mat-error *ngIf="form.get('image').hasError('required')">
                    Product image is required
                  </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <input class="ng-hide" id="input-file-id"  type="file" (change)="onFileSelected($event)"  />
              <label for="input-file-id" class="md-button md-raised md-primary">
               <mat-icon class="material-icons file-icon">attach_file</mat-icon></label>
            </div>
          </div>
        </div>

        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button (click)="reset()"> Reset</button>
            <button type="submit" class="mat-raised-button mat-primary save">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>