<mat-card class="product-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Karuda</mat-card-title>
    <mat-card-subtitle>Soap oil</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="assets/img/soap.jpg"> -->
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Remove</button>
    <button mat-raised-button color="primary">Details</button>
    <button mat-raised-button color="primary">Edit</button>
  </mat-card-actions>
</mat-card>
