<mat-card class="product-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="assets/img/soap.jpg"> -->
  <mat-card-content class="content">
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="removeProduct()">Remove</button>
    <button mat-raised-button color="primary" (click)="addStock()">Add Stock</button>
    <button mat-raised-button color="primary" (click)="editProduct()">Edit Details</button>
  </mat-card-actions>
</mat-card>
