
.header-image {
    background-image: url('/assets/img/soap.jpg');
    background-size: cover;
}
.mat-card{
  background-color: #0000000d;
}
.product-card{
  min-height: 150px;
}
.content{
  min-height: 50px;
}