mat-icon {
    align-self: flex-start;
}

.user-card{
    background: #3f51b5;
    color: #FFFFFF;
}

.account-icon{
    font-size: 40px;
    text-align: center;
}

.align-center{
    text-align: center;
}
.mat-list-icon {
    color: #3f51b5 ;
}