.dashboard{
    margin-top: 8%;
}

table {
  width: 100%;
}

.cursor
{
   cursor: pointer;
}
.delete{
    margin-left: 8%;
}
.mat-table {
    border: 2px solid #E6E6E5;
}
.margin-bottom20{
    margin-bottom: 20px;
}