<div>
  <h2 mat-dialog-title>Stock update</h2>
  <hr>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content>

      <strong>Stock available:</strong> {{product.stock | resolveUnitValue:product.unitType.type}} {{ product.unitType.type | resolveUnits}}
      <br>
      <br>
      <div fxLayout="row" fxLayoutGap="5%">
        <div fxFlex>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('date').hasError('required')">
              Date is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput type="number" formControlName="stock" placeholder="Stock ({{ product.unitType.type | resolveUnits}})" required>
            <mat-error *ngIf="form.get('stock').hasError('required')">
              Stock is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
      <button mat-raised-button (click)="onCloseCancel()">Cancel</button>
      <button type="submit" class="mat-raised-button mat-primary">Confirm</button>
    </mat-dialog-actions>
  </form>
</div>