mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
    background-color: #f5f5f5;
  }
  .full-width-input {
    width: 100%;
  }
  mat-icon{
    margin-top: 4%;
  }
  