.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}


.radio-button {
    margin: 5px;
  }
  
.selected-value {
    margin: 15px 0;
  }

  .save{
      margin-left: 2%;
  }