/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~ngx-toastr/toastr.css";

html, body, app-root, mat-sidenav-container, .side {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .side {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .action-right {
    text-align: right;
    font-size: 13px;
  }

  .margin-bottom20{
    margin-bottom: 20px;
}

.page-top-margin{
  margin-top: 70px;
  margin-right: 80px;
  margin-left: 80px;
}
.cursor {
  cursor: pointer;
}
.delete {
   margin-left: 8%;
 }

 .field-error{
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 75%;
 }
