table {
    width: 100%;
  }
.mat-table {
      border: 2px solid #E6E6E5;
  }
  .add-button{
    margin-bottom: 10px;
  }
  .name{
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.description{
  margin-left: 10%; 
}